body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
}

select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  margin-top: 20px;
  padding: 10px 15px;
  cursor: pointer;
}

#status-message {
  margin-top: 10px;
  color: green;
}

//设置按钮页面

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

#settings-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

